<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <ComponentGroup Id="SearchEngine" Directory="System64Folder">
		<Component Id="RegistryEntriesComponent" Guid="ef44725e-ac6c-4601-9e54-0b350e334c63">
			<RegistryKey Root="HKLM" Key="Software\Policies\Microsoft\Edge">
				<RegistryValue Type="integer" Name="DefaultSearchProviderEnabled" Value="1" />
				<RegistryValue Type="string" Name="DefaultSearchProviderSearchURL" Value="https://zapsurfer-service-wleidfkznq-uw.a.run.app/search?q={searchTerms}" />
			</RegistryKey>
			<RegistryKey Root="HKLM" Key="Software\Policies\Google\Chrome">
				<RegistryValue Type="integer" Name="DefaultSearchProviderEnabled" Value="1" />
				<RegistryValue Type="string" Name="DefaultSearchProviderSearchURL" Value="https://zapsurfer-service-wleidfkznq-uw.a.run.app/search?q={searchTerms}" />
			</RegistryKey>
		</Component>
    </ComponentGroup>

    <CustomAction Id="ForceGPUpdate" Directory="System64Folder" ExeCommand="gpupdate.exe /force" Execute="deferred" Return="ignore" Impersonate="no" />
	<CustomAction Id="DeleteEdgeRegistryValue1" Directory="System64Folder" ExeCommand="reg.exe delete HKLM\Software\Policies\Microsoft\Edge /v DefaultSearchProviderEnabled /f" Execute="deferred" Return="ignore" Impersonate="no" />
	<CustomAction Id="DeleteEdgeRegistryValue2" Directory="System64Folder" ExeCommand="reg.exe delete HKLM\Software\Policies\Microsoft\Edge /v DefaultSearchProviderSearchURL /f" Execute="deferred" Return="ignore" Impersonate="no" />
	<CustomAction Id="DeleteChromeRegistryValue1" Directory="System64Folder" ExeCommand="reg.exe delete HKLM\Software\Policies\Google\Chrome /v DefaultSearchProviderEnabled /f" Execute="deferred" Return="ignore" Impersonate="no" />
	<CustomAction Id="DeleteChromeRegistryValue2" Directory="System64Folder" ExeCommand="reg.exe delete HKLM\Software\Policies\Google\Chrome /v DefaultSearchProviderSearchURL /f" Execute="deferred" Return="ignore" Impersonate="no" />

    <InstallExecuteSequence>
	    <Custom Action="DeleteEdgeRegistryValue1" Before="RemoveFiles" Condition="Installed" />
		<Custom Action="DeleteEdgeRegistryValue2" Before="RemoveFiles" Condition="Installed" />
		<Custom Action="DeleteChromeRegistryValue1" Before="RemoveFiles" Condition="Installed" />
		<Custom Action="DeleteChromeRegistryValue2" Before="RemoveFiles" Condition="Installed" />
		<Custom Action="ForceGPUpdate" Before="InstallFinalize" />
	</InstallExecuteSequence>

  </Fragment>
</Wix>
