<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="UnpackImages" Directory="PhotosFolder">
			<Component Id="UnpackImagesComponent" Guid="a5420a86-5a8e-41e6-a157-7b70970af3a1">
				<CreateFolder />
			</Component>
		</ComponentGroup>

		<CustomAction Id="SetPhotosPath" Property="CopyPhotosFolder" Value="[SourceDir]store_photos;[INSTALLFOLDER]store_photos" Impersonate="no" />
		<CustomAction Id="CopyPhotosFolder" BinaryRef="CopyBuildFolderDll" DllEntry="CopyBuildFolder" Execute="deferred" Return="check" Impersonate="no" />
		<CustomAction Id="PhotoDeletePath" Property="DeleteBuildFolder" Value="[INSTALLFOLDER]store_photos" Impersonate="no" />
		<CustomAction Id="DeletePhotosFolder" BinaryRef="CopyBuildFolderDll" DllEntry="DeleteBuildFolder" Execute="deferred" Return="check" Impersonate="no" />

		<InstallExecuteSequence>
			<Custom Action="SetPhotosPath" After="ResolveSource" Condition="NOT Installed" />
			<Custom Action="CopyPhotosFolder" After="InstallFiles" Condition="NOT Installed" />
			<Custom Action="PhotoDeletePath" Before="DeletePhotosFolder" />
			<Custom Action="DeletePhotosFolder" Before="RemoveFiles" Condition="Installed" />
		</InstallExecuteSequence>
	</Fragment>
</Wix>
