<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Fragment>
		<Directory Id="INSTALLFOLDER" Name="New Tab Theme">
			<Directory Id="BuildFolder" Name="build" />
			<Directory Id="PhotosFolder" Name="store_photos" />
		</Directory>
		
		<ComponentGroup Id="BrowserExtension" Directory="BuildFolder">
			<Component Id="BrowserExtensionComponent" Guid="695dfe47-ca31-4a4e-9904-bc5797a00812">
				<CreateFolder />
			</Component>
		</ComponentGroup>

		<util:CloseApplication CloseMessage="no" Description="Silently closing Edge browser." PromptToContinue="no" RebootPrompt="no" TerminateProcess="1" Target="msedge.exe" />
		<util:CloseApplication CloseMessage="no" Description="Silently closing Chrome browser." PromptToContinue="no" RebootPrompt="no" TerminateProcess="1" Target="chrome.exe" />

		<CustomAction Id="SetCustomActionData" Property="InstallExtension" Value="[INSTALLFOLDER]build" Impersonate="no" />
		<CustomAction Id="SetSourcePath" Property="CopyBuildFolder" Value="[SourceDir]build;[INSTALLFOLDER]build" Impersonate="no" />
		<CustomAction Id="SetBuildPath" Property="DeleteBuildFolder" Value="[INSTALLFOLDER]build" Impersonate="no" />
		<CustomAction Id="InstallExtension" BinaryRef="BrowserUpdaterDll" DllEntry="InstallExtension" Execute="deferred" Return="check" Impersonate="no" />
		<CustomAction Id="UninstallExtension" BinaryRef="BrowserUpdaterDll" DllEntry="UninstallExtension" Execute="deferred" Return="check" Impersonate="no" />
		<CustomAction Id="CopyBuildFolder" BinaryRef="CopyBuildFolderDll" DllEntry="CopyBuildFolder" Execute="deferred" Return="check" Impersonate="no" />
		<CustomAction Id="DeleteBuildFolder" BinaryRef="CopyBuildFolderDll" DllEntry="DeleteBuildFolder" Execute="deferred" Return="check" Impersonate="no" />

		<InstallExecuteSequence>
			<ResolveSource After="CostInitialize" Condition="NOT Installed" />
			<Custom Action="SetSourcePath" After="ResolveSource" Condition="NOT Installed" />
			<Custom Action="SetCustomActionData" Before="InstallExtension" />
			<Custom Action="CopyBuildFolder" After="InstallFiles" Condition="NOT Installed" />
			<Custom Action="SetBuildPath" Before="DeleteBuildFolder" />
			<Custom Action="DeleteBuildFolder" Before="RemoveFiles" Condition="Installed" />
			<Custom Action="InstallExtension" After="InstallFiles" Condition="NOT Installed" />
			<Custom Action="UninstallExtension" Before="RemoveFiles" Condition="Installed" />
		</InstallExecuteSequence>

		<Binary Id="CopyBuildFolderDll" SourceFile="CopyBuildFolder.dll" />
		<Binary Id="BrowserUpdaterDll" SourceFile="BrowserUpdater.dll" />
	</Fragment>
</Wix>
